<!DOCTYPE html>
<html>
  <head>
    <title>Homey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 font-sans antialiased font-normal h-full leading-normal">

  <div class="main flex flex-col px-3">
    <%= render "shared/navbar" %>

    <div class="container my-5 mx-auto lg: h-full">
      <%= yield %>
    </div>

  </div>
  </body>
</html>
